#root,
body {
  margin: 0px !important;
  padding-top: 10px;
  background-color: rgb(128, 192, 194);
  font-family: "Rubik", sans-serif;
}

#startBtn {
  background-color: white;
  width: 10%;
  height: 50px; /* או 100%, או כל גובה שאתה צריך */
  display: flex;
  justify-content: center; /* מרכז רוחבית */
  align-items: center;     /* מרכז אנכית */
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-top: 15px;
  font-family: "Playpen Sans Hebrew";
  color: black;
}
